.container {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  object-position: right;
  opacity: 0.6;
}
.logo {
  height: 40px;
  width: 90px;
  position: absolute;
  top: 3%;
  left: 90%;
  z-index: 1;
}
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #fff;
}

.searchcontainer {
  width: 50% !important;
  z-index: 1;
  height: 3rem;
  position: absolute;
  top: 18%;
  border-radius: 20px;
}

.textField {
  background-color: #fff !important;
  height: 100% !important;
  width: 100%;
}
.suggestionBox {
  background-color: #fff;
  position: absolute;
  top: 29%;
  width: 53%;
  height: 60%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.suggestionHeader {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px !important;
  font-weight: 500;
  font-size: 16;
}
.CardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trendCard {
  margin-top: 13px;
}
.trendImg {
  height: 130px;
  width: 115px;
  border-radius: 5px;
}
.productCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.links {
  text-decoration: none;
  color: black;
  font-size: 12;
  display: block;
  padding: 2px;
}
@media (max-width: 768px) {
  .suggestionBox {
    overflow: scroll;
    width: 75%;
  }
  .logo {
    height: 30px;
    width: 70px;
    position: absolute;
    left: 75%;
  }
  .searchcontainer{
    width: 75% !important;
  }
}
