.dialogContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  // width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  //   border: 1px solid magenta;
}

.search {
  //   height: 20px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  //   border: 1px solid green;
}
.modalRootContainer {
  //   height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  //   border: 2px solid magenta;
}
.gridContainer {
    width: 100%;
  // border: 2px solid red;
  padding: 0 !important;
  margin: 0 !important;
}

.gridContainer1 {
  //   border: 1px solid magenta;
  padding: 1rem;
  
}
.gridContainer2 {
  //   border: 1px solid magenta;
 
}

.cardsContainer{
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: start;
  align-items: start;
}

.search {
  width: 100% !important;
}
.searchcontainer {
  width: 50% !important;
  z-index: 1;
  height: 3rem;
  // border: 1px solid green;
}

.textField {
  background-color: #fff !important;
  height: 100% !important;
  width: 100%;
}

.gridContainer1Header {
  font-size: 2rem;
}

.accordian {
  border: none !important;
  box-shadow: none !important;
}
.noData {
  height: 60%;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .gridContainer2 {
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .searchcontainer {
    width: 80% !important;
  }
}
